*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Montserrat', sans-serif;
}

.BgColour{	
	background-color: white;
	border-bottom: 1px solid lightgray;
	transition: all 1s;
}

.header_section.BgColour .nav ul li a{
	color: black;
}

.header_section.BgColour .logo a{
	color: black;
}

.container{
	max-width: 1440px;
	width: 100%;
	margin: auto;
	padding: 0 20px;
}
.header_section{
	position: fixed;
	z-index: 9;
	width: 100%;
	top: 0;
	left: 0;
}
.header_section .header{
	display: flex;
	justify-content: space-between;
	height: 70px;
	width: 100%;
	align-items: center;
}
.header .logo a{
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	color:  #fff;
}
.header .logo a:hover{
	color: #0b545c;
}

.header .nav{
	max-width: 600px;
	width: 100%;
	padding-right: 40px;
}
.header .nav ul{
	display: flex;
	justify-content: space-between;
	list-style: none;
	letter-spacing: 1px;
}

.header .nav ul li a{
	text-decoration: none;
	text-transform: capitalize;
	color: white;
	font-size: 20px;
}
.header .nav ul li a:hover{
	color: #0b545c;
}

/*header ends*/

.banner_section{
	position: relative;
}


.banner_section .content{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0	;
	background: rgba(0,0,0,0.5);
}

.banner_section .banner_img img{
	width: 100%;
	display: block;	
}

.banner_section .content .container{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

.banner_section .inner_content{
	max-width: 700px;
	width: 100%;
}

.banner_section .content h1{
	font-size: 50px;
	margin-bottom: 15px;
	color: #fff;
}

.banner_section .content p{
	margin-bottom: 15px;
	font-size: 18px;
	line-height: 1.5;
	color: #fff;
}

.banner_section .content button{
	cursor: pointer;
	font-size: 18px;
	max-width: 120px;
	width: 100%;
	background-color: #0b545c;
	color: #fff;
	border: none;
	padding: 10px;
}

.banner_section .content button:hover{
	color: #000;
	background: #fff;
}


/*banner section ends*/

/*Second Section Starts*/
.second_section .content{
	padding: 80px 0;
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.second_section .content h2{
	margin-bottom: 10px;
	font-size: 25px;
}

.second_section .content p{
	font-size: 18px;
	line-height: 1.5;
}

.box_section{
	display: flex;
	justify-content: space-between;
}

.box_section .box_list{
	width: 32%;
	padding: 20px;
	text-align: center;
}

.box_section .box_list h3{
	text-transform: capitalize;
	font-size: 24px;
	margin: 20px auto;
	color: black;
}

.box_section .box_list p{
	font-size: 18px;
	line-height: 1.5;
	color: black;
}

.border_box{
	border: 2px solid #0b545c;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	max-width: 100px;
	margin: 0 auto;
	background-color: #0b545c;
}

.border_box i{
	font-size: 30px;
	margin: auto;
}

/* Second Sections Ends */

/*Design Section Starts*/

.design{
	height: 1000px;
	background: grey;
}

.design .container .samediv{
	height: 500px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	line-height: 1.5;
}

.samediv .test{
	width: 1400px;
}

.samediv .test img{
	width: 100%;
	padding: 20px;
	display: block;
}

/*Design Section Ends*/

/*Feedback Section Starts*/

.feedback_section{
	padding: 80px 0;
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.feedback_section .user_image img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-bottom: 20px;
	object-fit: cover;
}
#post{
	font-weight: 800;
	color: #0b545c;
	line-height: 1.5;
}
.feedback_section p{
	font-size: 18px;
	line-height: 1.5;
}

.feedback_section .user_data p{
	margin-bottom: 20px;
}

/*Feedback Section Ends*/
/*Customize Section Starts*/
.customize{
	position: relative;
}

.customize .banner_img img{
	width: 100%;
	display: block;
}

.customize .content{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
}

.customize .inner_content{
	max-width: 900px;
	width: 100%;
}

.customize .content h2{
	font-size: 40px;
	color: #fff;
}

.customize .content p{
	font-size: 18px;
	line-height: 1.5;
	color: #fff;
	margin-bottom: 15px;
}

.customize .content .container{
	height: 100%;
	display: flex;
	align-items: center;
	margin: 0 auto;
}

#script{
	font-size: 25px;
	line-height: 1.5;
	color: #fff;
	margin-bottom: 25px;
}