*{padding: 0;	margin: 0;	box-sizing: border-box;}

body{font-family: 'Montserrat', sans-serif;}

p{font-size: 18px; line-height: 1.5;}

h2{font-size: 28px;	font-weight: 600;	margin-bottom: 10px;	line-height: 1.4;}

button{	cursor: pointer;	font-size: 18px;	max-width: 120px;	width: 100%;	background-color: #0b545c;	color: #fff;border: none;padding: 10px;}

button:hover{	color: #0b545c;	background: #fff;}

.BgColour{	background-color: white;	border-bottom: 1px solid lightgray;	transition: all 1s;}

.header_section.BgColour .navs ul li a{
	color: black;
}
.header_section.BgColour .logo a{
	color: black;
}
.header_section.BgColour .mobile-navbar-btn{
	background: black;
}
.container{
	max-width: 1440px;
	width: 100%;
	margin: auto;
	padding: 0 20px;
}
.header_section{
	position: fixed;
	z-index: 9;
	width: 100%;
	top: 0;
	left: 0;
}
.header_section .container{
	height: 70px;
}
.header_section .header{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	align-items: center;
}
.header .logo a{
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	color:  #fff;
}
.header .logo a:hover{
	color: #ffa1c6;
}

.header .navs{
	max-width: 600px;
	width: 100%;
}
.header .navs ul{
	display: flex;
	justify-content: space-between;
	list-style: none;
	letter-spacing: 1px;
}

.header .navs ul li a{
	text-decoration: none;
	text-transform: capitalize;
	color: white;
	font-size: 20px;
}
.header .navs ul li a:hover{
	color: #ffa1c6;
}

.hamburger{
	width: 30px;
	height: 30px;
	position: relative;
	display: none;
}

.hamburger:before{
	content: "";
	width: 100%;
	height: 3px;
	background: rgb(136 132 132);
	position: absolute;
	top: 6px;
	left: 0;
	border-radius: 3px;
	transform: translate(0,0);
	transition: 0.3s ease-in-out;
}

.hamburger:after{
	content: "";
	width: 100%;	
	height: 3px;
	background: rgb(136 132 132);
	position: absolute;
	bottom: 6px;
	left: 0;
	border-radius: 3px;
	transform: translate(0,0);
	transition: 0.3s ease-in-out;
}

.active .hamburger:before{
	transform: translate(0,7px) rotate(43deg);
}

.active .hamburger:after{
	transform: translate(0,-9px) rotate(-44deg);
}

/*header ends*/

.banner_section{
	position: relative;
}


.banner_section .content{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0	;
	background: rgba(0,0,0,0.5);
}

.banner_section .banner_img img{
	width: 100%;
	display: block;	
}

.banner_section .content .container{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

.banner_section .inner_content{
	max-width: 700px;
	width: 100%;
}

.banner_section .content h1{
	font-size: 50px;
	margin-bottom: 15px;
	color: #fff;
}

.banner_section .content p{
	margin-bottom: 15px;
	color: #fff;
}

/*banner section ends*/

/*Second Section Starts*/

.second_section{
	padding: 60px 0;
}
.second_section .content{
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.box_section{
	display: flex;
	justify-content: space-between;
}

.box_section .box_list{
	width: 32%;
	padding: 20px;
	text-align: center;
}

.box_section .box_list h3{
	text-transform: capitalize;
	font-size: 24px;
	margin: 20px auto;
	color: black;
}

.box_section .box_list .border_box{
	border: 2px solid #0b545c;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	max-width: 100px;
	margin: 0 auto;
	background-color: #0b545c;
	position: relative;
}

.box_section .box_list .border_box .fa{
	color: white;
	position: absolute;
	top: 11px;
	left: 15px;
}

.box_section .box_list .border_box i{
	font-size: 30px;
	margin: auto;
}

/* Second Sections Ends */

/*Design Section Starts*/

.design{
	padding: 60px 0;
	background: #F3F3F3;
}

.design .container .catalogue{
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
.design .container .catalogue .laptop_img{
	max-width: 600px;
	width: 100%;
}

.design .container .catalogue .catalogue_content{
	max-width: 600px;
	width: 100%;
}
.design .catalogue img{
	display: block;
	width: 90%;
}

.design .catalogue ul{
	margin-bottom: 20px;
	margin-inline-start: 20px;
}

.design .catalogue li{
	line-height: 2;
}

/*Design Section Ends*/

/*Feedback Section Starts*/

.feedback_section{
	padding: 60px 0;
}

.feedback_section .container{
	max-width: 600px;
	width: 100%;
	text-align: center;
}

.feedback_section .user_image img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-bottom: 20px;
	object-fit: cover;
}

.feedback_section .container .name{
	font-size: 25px;
	font-weight: 600;
	color: #0b545c;
	line-height: 1.5;
}

.feedback_section .container .post{
	font-size: 20px;
	font-weight: 600;
	color: #0b545c;
	line-height: 1.5;
}

.feedback_section .user_data p{
	margin-bottom:20px;
}

/*Feedback Section Ends*/
/*Customize Section Starts*/

.customize{
	background:  linear-gradient(to right, rgba(255, 255, 255, 0.99), rgba(255, 255, 255, 0)), url('../images/banner2.jpg') no-repeat center;
	background-size: cover;
	padding: 60px 0;
}

.customize .container .inner_content h4{
	font-size: 25px;
	margin-top: 10px;
	margin-bottom: 50px;
	font-weight: 300;
}

.inner_content{
	max-width: 600px;
	width: 100%;
}

.inner_content p{
	padding-bottom: 20px;
}

/*User Section Starts*/
.download_section{
	border-bottom: 4px solid #f0f0f0;
	padding: 60px 0;
}

.download_section .container{
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}
.download_section .box{
	max-width: 24%;
	width: 100%;
	/*background: #f0f0f0;*/
}

.download_section .container i{
	font-size: 42px;
	color: #0b545c;
	margin-bottom: 20px;
}

.download_section .container .box p{
	font-size: 34px;
	margin-bottom: 20px;
}

/*Pricing Section Starts*/

.pricing_section{
	padding: 60px 0;
	border-bottom: 4px solid #f0f0f0;
}
.container .pricing_content{
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.container .pricing_content p{
	margin-bottom: 50px;
}

.box_sections{
	display: flex;
	justify-content: space-around;
}

.box_sections .box_lists{
	width: 32%;
	padding: 20px;
	text-align: center;
	margin-bottom: 50px;
	border: 1px solid #EFEFEF;
	box-shadow: 0 5px 10px 5px #EFEFEF;
}

.box_sections .box_lists .border_boxes i{
	font-size: 30px;
	margin-bottom: 10px;
	text-align: center;
}

.box_sections .box_lists p{
	padding: 20px 0;
}
.box_sections .box_lists ul{
	margin-bottom: 50px;
}
.box_sections .box_lists ul li{
	font-weight: 500;
	font-size: 20px;
	text-align: center;
	list-style: none;
	margin-bottom: 10px;
}

.price{
	font-size: 40px;
}	

.selectprice{
	cursor: pointer;
	font-size: 18px;
	max-width: 120px;
	width: 100%;
	background-color: #0b545c;
	color: #fff;
	border: none;
	padding: 10px;
}

/*Social Section Starts*/
.social_section{
	padding: 60px 0;
}
.social_section .container{
	display: flex;
	align-items: center;
	justify-content: center;
}

.social_section .img_box{
	max-width: 20%;
	width: 100%;
}

.social_section .img_box img{
	display: block;
	width: 80%;
}
/*Trial Section Starts*/

.trial_section{
	padding:60px 0;
	background: #f0f0f0;
}

.trial_section .container{
	max-width: 700px;
	width: 100%;
	text-align: center;
}

.trial_section .container p{
	width: 100%;
	margin-bottom: 20px;
}

.trial_section input{
	height: 40px;
}

.trial_section .email{
	border: none;
	width: 250px;
}

.trial_section .trial_test{
	display: flex;
    justify-content: center;
    align-items: center;
}

/*Footer Section Starts*/
footer{
	padding: 60px 0;
	text-align: center;
}
 footer a{
 	text-decoration: none;
 	color: black;
 }

.footer_section{
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
}
footer .footer_section ul{
 	display: flex;
 	list-style: none;
 	justify-content: space-between;
 	padding-top: 40px;
 	padding-bottom: 20px;
 }

.footer_logo{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: #0b545c;
	margin: 0 auto;
	position: relative;
}

.footer_logo a{
	color: #fff;
	font-size: 20px;
	position: relative;
	top: 11px;
	left: 1px;
}

footer .footer_section ul li a:hover{
	color: #ffa1c6;
}